## Do arquivo carros, imprima as primeiras e as últimas cinco linhas. Faça uma versão que abre o arquivo a partir do csv e outra que abre a partir da url.

In [77]:
import pandas as pd
import numpy as np

In [78]:
df = pd.read_csv("carros.csv")
print('*********************************************************')
print('Primeiras cinco linhas:')
print('*********************************************************')
print('\n\n')
print(df.head(5))
print('\n\n')
print('*********************************************************')
print('Últimas cinco linhas')
print('*********************************************************')
print('\n\n')
print(df.tail(5))
print('\n\n')

*********************************************************
Primeiras cinco linhas:
*********************************************************



   index      company   body-style  wheel-base  length engine-type  \
0      0  alfa-romero  convertible        88.6   168.8        dohc
1      1  alfa-romero  convertible        88.6   168.8        dohc
2      2  alfa-romero    hatchback        94.5   171.2        ohcv
3      3         audi        sedan        99.8   176.6         ohc
4      4         audi        sedan        99.4   176.6         ohc

  num-of-cylinders  horsepower  average-mileage    price
0             four         111               21  13495.0
1             four         111               21  16500.0
2              six         154               19  16500.0
3             four         102               24  13950.0
4             five         115               18  17450.0



*********************************************************
Últimas cinco linhas
*********************************************************



    index     company body-style  wheel-base  length engine-type  \
56     81  volkswagen      sedan        97.3   171.7         ohc
57     82  volkswagen      sedan        97.3   171.7         ohc
58     86  volkswagen      sedan        97.3   171.7         ohc
59     87       volvo      sedan       104.3   188.8         ohc
60     88       volvo      wagon       104.3   188.8         ohc

   num-of-cylinders  horsepower  average-mileage    price
56             four          85               27   7975.0
57             four          52               37   7995.0
58             four         100               26   9995.0
59             four         114               23  12940.0
60             four         114               23  13415.0

## Encontre o nome da empresa de carros mais cara.

In [79]:
df['company'][df['price']==max(df['price'])]

35    mercedes-benz
Name: company, dtype: object

In [80]:
most_expensive = df['company'].loc[df['price']==max(df['price'])].values[0]
print("Empresa com carros mais caros: ", most_expensive)

Empresa com carros mais caros:  mercedes-benz

## Mostre a média de preços.

In [115]:
filtered = df[df['price']!='']
media = np.mean(filtered['price'])
print('Média dos preços: ', media)

Média dos preços:  15387.0

## Mostre o valor mais alto e mais baixo de horsepower.

In [119]:
maximo = np.max(df['horsepower'])
minimo = np.min(df['horsepower'])
print("Máximo de cavalos: ", maximo)
print("Mínimo de cavalos: ", minimo)

Máximo de cavalos:  288
Mínimo de cavalos:  48

## Mostre a informação de todos os carros da marcar toyota.

In [127]:
df_toyota = df[df['company']=='toyota']
display(df_toyota)

,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
48,66,toyota,hatchback,95.7,158.7,ohc,four,62,35,5348.0
49,67,toyota,hatchback,95.7,158.7,ohc,four,62,31,6338.0
50,68,toyota,hatchback,95.7,158.7,ohc,four,62,31,6488.0
51,69,toyota,wagon,95.7,169.7,ohc,four,62,31,6918.0
52,70,toyota,wagon,95.7,169.7,ohc,four,62,27,7898.0
53,71,toyota,wagon,95.7,169.7,ohc,four,62,27,8778.0
54,79,toyota,wagon,104.5,187.8,dohc,six,156,19,15750.0

## Faça uma função que filtra os carros por cilindro e salva em outro arquivo CSV

In [142]:
def cylinder_filter(csvfile):
    df = pd.read_csv(csvfile)
    cylinder = input('Type the cylinders number:\n')  # Pergunta ao usuário o número de cilindros
    new_df = df[df['num-of-cylinders']==cylinder]  # Filtra de acordo com o número de cilindros
    new_df.to_csv('filtered_csv')  # Salva no arquivo csv
    print('\n\n')
    print('********************************')
    print('Filtered dataframe (',cylinder, ' cylinders):')
    print('********************************')
    display(new_df)= df = pd.read_csv(

car_csv = "carros.csv"
cylinder_filter(car_csv)

Type the cylinders number:
four



********************************
Filtered dataframe ( four  cylinders):
********************************

,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
0,0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0
1,1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0
3,3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0
7,9,bmw,sedan,101.2,176.8,ohc,four,101,23,16430.0
8,10,bmw,sedan,101.2,176.8,ohc,four,101,23,16925.0
14,17,chevrolet,hatchback,94.5,155.9,ohc,four,70,38,6295.0
15,18,chevrolet,sedan,94.5,158.8,ohc,four,70,38,6575.0
16,19,dodge,hatchback,93.7,157.3,ohc,four,68,31,6377.0
17,20,dodge,hatchback,93.7,157.3,ohc,four,68,31,6229.0
18,27,honda,wagon,96.5,157.1,ohc,four,76,30,7295.0
19,28,honda,sedan,96.5,175.4,ohc,four,101,24,12945.0
20,29,honda,sedan,96.5,169.1,ohc,four,100,25,10345.0
21,30,isuzu,sedan,94.3,170.7,ohc,four,78,24,6785.0
22,31,isuzu,sedan,94.5,155.9,ohc,four,70,38,NaN
23,32,isuzu,sedan,94.5,155.9,ohc,four,70,38,NaN
27,36,mazda,hatchback,93.1,159.1,ohc,four,68,30,5195.0
28,37,mazda,hatchback,93.1,159.1,ohc,four,68,31,6095.0
29,38,mazda,hatchback,93.1,159.1,ohc,four,68,31,6795.0
31,43,mazda,sedan,104.9,175.0,ohc,four,72,31,18344.0
36,49,mitsubishi,hatchback,93.7,157.3,ohc,four,68,37,5389.0
37,50,mitsubishi,hatchback,93.7,157.3,ohc,four,68,31,6189.0
38,51,mitsubishi,sedan,96.3,172.4,ohc,four,88,25,6989.0
39,52,mitsubishi,sedan,96.3,172.4,ohc,four,88,25,8189.0
40,53,nissan,sedan,94.5,165.3,ohc,four,55,45,7099.0
41,54,nissan,sedan,94.5,165.3,ohc,four,69,31,6649.0
42,55,nissan,sedan,94.5,165.3,ohc,four,69,31,6849.0
43,56,nissan,wagon,94.5,170.2,ohc,four,69,31,7349.0
48,66,toyota,hatchback,95.7,158.7,ohc,four,62,35,5348.0
49,67,toyota,hatchback,95.7,158.7,ohc,four,62,31,6338.0
50,68,toyota,hatchback,95.7,158.7,ohc,four,62,31,6488.0
51,69,toyota,wagon,95.7,169.7,ohc,four,62,31,6918.0
52,70,toyota,wagon,95.7,169.7,ohc,four,62,27,7898.0
53,71,toyota,wagon,95.7,169.7,ohc,four,62,27,8778.0
55,80,volkswagen,sedan,97.3,171.7,ohc,four,52,37,7775.0
56,81,volkswagen,sedan,97.3,171.7,ohc,four,85,27,7975.0
57,82,volkswagen,sedan,97.3,171.7,ohc,four,52,37,7995.0
58,86,volkswagen,sedan,97.3,171.7,ohc,four,100,26,9995.0
59,87,volvo,sedan,104.3,188.8,ohc,four,114,23,12940.0
60,88,volvo,wagon,104.3,188.8,ohc,four,114,23,13415.0