### Exemplo utilizando a biblioteca pandas (aula)

Abrir o arquivo Auto.csv    
Contar a quantidade de elementos nulos por coluna    
Criar um dataram eliminando as linhas com valores nulos dataframe   
Criar um dataframe transformando os valores nulos para zero     
Criar um dataframe trocando nulo por média da coluna

In [52]:
import pandas as pd
import numpy as np

#abrindo o arquivo por html
url='https://raw.githubusercontent.com/advinstai/python-datascience/master/csv/Auto.csv'
from_url = pd.read_table(url, sep=',')  #le a tabela e separa por virgula


from_url.describe()

#Contar a quantidade de elementos nulos por coluna
valor = from_url.replace("?",np.nan)
valor.isnull().sum()

#Criar um dataram eliminando as linhas com valores nulos dataframe
dfnulo = valor.dropna()
dfnulo.isnull().sum()

#Criar um dataframe transformando os valores nulos para zero
dfzero = valor.replace(np.nan,0)
dfzero.loc[dfzero["horsepower"]==0]

#Criar um dataframe trocando nulo por média da coluna 
dfzero["horsepower"] = pd.to_numeric(dfzero["horsepower"]).astype(int)

media = dfzero["horsepower"].mean()

#Criar um dataframe transformando os valores nulos para zero
media2 = dfzero.loc[dfzero["horsepower"]!=0, "horsepower"].mean() 


#Criar um dataframe trocando nulo por média da coluna 
dfmedia = valor.replace(np.nan,media2)

dfmedia

#dfmedia.loc[dfmedia["horsepower"] == media2]

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
392,27.0,4,140.0,86,2790,15.6,82,1,ford mustang gl
393,44.0,4,97.0,52,2130,24.6,82,2,vw pickup
394,32.0,4,135.0,84,2295,11.6,82,1,dodge rampage
395,28.0,4,120.0,79,2625,18.6,82,1,ford ranger
396,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10