## exercise chat
* * Abrir o arquivo Auto.csv 
* * Contar a quantidade de elementos nulos por coluna 
* * criar um dataram eliminando as linhas com valores nulos 
* * dataframe 
* * Criar um dataframe transformando os valores nulos para zero 
* * criar um dataframe trocando nulo por média da coluna

In [35]:
# Abrir o arquivo Auto.csv 
import pandas as pd
import numpy as np
url = 'https://raw.githubusercontent.com/advinstai/python-datascience/master/csv/Auto.csv'

df = pd.read_table(url, sep=',', na_values='?')
df['horsepower'].isnull()
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,1,ford torino

In [177]:
# Contar a quantidade de elementos nulos por coluna
df1 = df.replace('?', np.nan)

nu = df1.isnull().sum(axis = 0)
nu

m = df1['horsepower'].mean()
print(m)

104.46938775510205

In [18]:
#criar um dataframe eliminando as linhas com valores nulos 

df2 = df.dropna()

df2
nu2 = df2.isnull().sum(axis = 0)
nu2

mpg             0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    0
year            0
origin          0
name            0
dtype: int64

In [155]:
# Criar um dataframe transformando os valores nulos para zero 

df3 = df.replace(np.nan, 0)

zeros = (df3 == 0).astype(int).sum(axis=0)

#zeros = df3[df3 == 0].values.sum()
zeros
#df3['horsepower'].values

mpg             0
cylinders       0
displacement    0
horsepower      5
weight          0
acceleration    0
year            0
origin          0
name            0
dtype: int64

In [ ]:
#for col in df.columns():
   #df.loc[df[col] == 'n', col] = 0
  # df.loc[df[col] == 'y', col] = 1
  # df.loc[df[col] == '?', col] = 1

In [184]:
#criar um dataframe trocando nulo por média da coluna 

mean_z = df1['horsepower'].mean()
print(mean_z)
df3.loc[df3['horsepower'] == 0, 'horsepower']= mean_z

print(df3.loc[df3['horsepower'] == 103.15365239294711])
for i in df3['horsepower']:
    print(i)

104.46938775510205
      mpg  cylinders  displacement  horsepower  weight  acceleration  year  \
32   25.0          4          98.0  103.153652    2046          19.0    71
126  21.0          6         200.0  103.153652    2875          17.0    74
330  40.9          4          85.0  103.153652    1835          17.3    80
336  23.6          4         140.0  103.153652    2905          14.3    80
354  34.5          4         100.0  103.153652    2320          15.8    81

     origin                  name
32        1            ford pinto
126       1         ford maverick
330       2  renault lecar deluxe
336       1    ford mustang cobra
354       2           renault 18i
130.0
165.0
150.0
150.0
140.0
198.0
220.0
215.0
225.0
190.0
170.0
160.0
150.0
225.0
95.0
95.0
97.0
85.0
88.0
46.0
87.0
90.0
95.0
113.0
90.0
215.0
200.0
210.0
193.0
88.0
90.0
95.0
103.15365239294711
100.0
105.0
100.0
88.0
100.0
165.0
175.0
153.0
150.0
180.0
170.0
175.0
110.0
72.0
100.0
88.0
86.0
90.0
70.0
76.0
65.0
69.0
60.0
70.0
95.0
80.0
54.0
90.0
86.0
165.0
175.0
150.0
153.0
150.0
208.0
155.0
160.0
190.0
97.0
150.0
130.0
140.0
150.0
112.0
76.0
87.0
69.0
86.0
92.0
97.0
80.0
88.0
175.0
150.0
145.0
137.0
150.0
198.0
150.0
158.0
150.0
215.0
225.0
175.0
105.0
100.0
100.0
88.0
95.0
46.0
150.0
167.0
170.0
180.0
100.0
88.0
72.0
94.0
90.0
85.0
107.0
90.0
145.0
230.0
49.0
75.0
91.0
112.0
150.0
110.0
122.0
180.0
95.0
103.15365239294711
100.0
100.0
67.0
80.0
65.0
75.0
100.0
110.0
105.0
140.0
150.0
150.0
140.0
150.0
83.0
67.0
78.0
52.0
61.0
75.0
75.0
75.0
97.0
93.0
67.0
95.0
105.0
72.0
72.0
170.0
145.0
150.0
148.0
110.0
105.0
110.0
95.0
110.0
110.0
129.0
75.0
83.0
100.0
78.0
96.0
71.0
97.0
97.0
70.0
90.0
95.0
88.0
98.0
115.0
53.0
86.0
81.0
92.0
79.0
83.0
140.0
150.0
120.0
152.0
100.0
105.0
81.0
90.0
52.0
60.0
70.0
53.0
100.0
78.0
110.0
95.0
71.0
70.0
75.0
72.0
102.0
150.0
88.0
108.0
120.0
180.0
145.0
130.0
150.0
68.0
80.0
58.0
96.0
70.0
145.0
110.0
145.0
130.0
110.0
105.0
100.0
98.0
180.0
170.0
190.0
149.0
78.0
88.0
75.0
89.0
63.0
83.0
67.0
78.0
97.0
110.0
110.0
48.0
66.0
52.0
70.0
60.0
110.0
140.0
139.0
105.0
95.0
85.0
88.0
100.0
90.0
105.0
85.0
110.0
120.0
145.0
165.0
139.0
140.0
68.0
95.0
97.0
75.0
95.0
105.0
85.0
97.0
103.0
125.0
115.0
133.0
71.0
68.0
115.0
85.0
88.0
90.0
110.0
130.0
129.0
138.0
135.0
155.0
142.0
125.0
150.0
71.0
65.0
80.0
80.0
77.0
125.0
71.0
90.0
70.0
70.0
65.0
69.0
90.0
115.0
115.0
90.0
76.0
60.0
70.0
65.0
90.0
88.0
90.0
90.0
78.0
90.0
75.0
92.0
75.0
65.0
105.0
65.0
48.0
48.0
67.0
67.0
67.0
103.15365239294711
67.0
62.0
132.0
100.0
88.0
103.15365239294711
72.0
84.0
84.0
92.0
110.0
84.0
58.0
64.0
60.0
67.0
65.0
62.0
68.0
63.0
65.0
65.0
74.0
103.15365239294711
75.0
75.0
100.0
74.0
80.0
76.0
116.0
120.0
110.0
105.0
88.0
85.0
88.0
88.0
88.0
85.0
84.0
90.0
92.0
74.0
68.0
68.0
63.0
70.0
88.0
75.0
70.0
67.0
67.0
67.0
110.0
85.0
92.0
112.0
96.0
84.0
90.0
86.0
52.0
84.0
79.0
82.0

In [188]:
#criar um dataframe trocando nulo por média da coluna 

mean_z =  df['horsepower'].mean()

x = df.replace(np.nan, mean_z)

print(mean_z)
print(x.loc[x['horsepower'] == 104.46938775510205])

104.46938775510205
      mpg  cylinders  displacement  horsepower  weight  acceleration  year  \
32   25.0          4          98.0  104.469388    2046          19.0    71
126  21.0          6         200.0  104.469388    2875          17.0    74
330  40.9          4          85.0  104.469388    1835          17.3    80
336  23.6          4         140.0  104.469388    2905          14.3    80
354  34.5          4         100.0  104.469388    2320          15.8    81

     origin                  name
32        1            ford pinto
126       1         ford maverick
330       2  renault lecar deluxe
336       1    ford mustang cobra
354       2           renault 18i

In [116]:
x.isnull().sum()

mpg             0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    0
year            0
origin          0
name            0
dtype: int64